build/
*.tsbuildinfo
node_modules/
coverage/

# Package files are copied from the root on pack
packages/**/README.md
packages/**/LICENSE

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
