name: Test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'mkdocs.yml'
      - 'docs/**'
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'mkdocs.yml'
      - 'docs/**'
      - 'README.md'

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.sha }}"
  cancel-in-progress: true

jobs:
  smoke-test:
    name: Smoke test
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ ubuntu-22.04 ]
        node-version: [ 16.x, 18.x, 20.x ]
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
      - name: Install NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci --omit=optional
      - name: Build workspaces
        run: npm run build -ws
      - name: Remove dev dependencies
        run: npm prune --omit=dev
      - name: Run CommonJS module smoke test
        run: node packages/testcontainers/smoke-test.js
      - name: Run ES module smoke test
        run: node packages/testcontainers/smoke-test.mjs

  test-testcontainers:
    name: Testcontainers
    needs: smoke-test
    strategy:
      matrix:
        runner: [ ubuntu-22.04 ]
        node-version: [ 16.x, 18.x, 20.x ]
        container-runtime: [ docker, docker-rootless, podman, colima, rancher-desktop ]
    uses: ./.github/workflows/test-template.yml
    with:
      runner: ${{ matrix.runner }}
      node-version: ${{ matrix.node-version }}
      container-runtime: ${{ matrix.container-runtime }}
      workspace: packages/testcontainers

  test-modules:
    name: ${{ matrix.module }}
    needs: test-testcontainers
    strategy:
      matrix:
        runner: [ ubuntu-22.04 ]
        node-version: [ 16.x, 18.x, 20.x ]
        container-runtime: [ docker, docker-rootless, podman, colima, rancher-desktop ]
        module:
          - packages/modules/arangodb
          - packages/modules/elasticsearch
          - packages/modules/hivemq
          - packages/modules/kafka
          - packages/modules/mongodb
          - packages/modules/mysql
          - packages/modules/nats
          - packages/modules/neo4j
          - packages/modules/postgresql
          - packages/modules/selenium
    uses: ./.github/workflows/test-template.yml
    with:
      runner: ${{ matrix.runner }}
      node-version: ${{ matrix.node-version }}
      container-runtime: ${{ matrix.container-runtime }}
      workspace: ${{ matrix.module }}
