on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      node-version:
        required: true
        type: string
      container-runtime:
        required: true
        type: string
      workspace:
        required: true
        type: string

jobs:
  test:
    name: "Run"
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Docker rootless setup
        if: ${{ inputs.container-runtime == 'docker-rootless' }}
        uses: ./.github/actions/docker-rootless-setup

      - name: Podman setup
        if: ${{ inputs.container-runtime == 'podman' }}
        uses: ./.github/actions/podman-setup

      - name: Colima setup
        if: ${{ inputs.container-runtime == 'colima' }}
        uses: ./.github/actions/colima-setup
        with:
          runner: ${{ inputs.runner }}

      - name: Rancher Desktop setup
        if: ${{ inputs.container-runtime == 'rancher-desktop' }}
        uses: ./.github/actions/rancher-desktop-setup
        with:
          runner: ${{ inputs.runner }}

      - name: Code checkout
        uses: actions/checkout@v6

      - name: Install Node ${{ inputs.node-version }} and Dependencies
        id: npm-install
        uses: ./.github/actions/npm-setup
        with:
          runner: ${{ inputs.runner }}
          node-version: ${{ inputs.node-version }}
          workspace: "${{ inputs.workspace }}"

      - name: Run tests
        run: npm run test:ci -- --coverage.include=${{ steps.npm-install.outputs.workspace_path }} ${{ steps.npm-install.outputs.workspace_path }}
        env:
          CI: true
