name: windows-test command dispatch

on:
  issue_comment:
    types: [created]

jobs:
  windows-test-command-dispatch:
    runs-on: ubuntu-22.04

    steps:
      - name: Dispatch windows-test command
        uses: peter-evans/slash-command-dispatch@v5
        with:
          token: ${{ secrets.REPO_TOKEN }}
          commands: windows-test
          issue-type: pull-request
          permission: maintain
          reactions: false
